@import 'vidstack/player/styles/default/theme.css';
@import 'vidstack/player/styles/default/layouts/video.css';
@import 'vidstack/player/styles/default/layouts/audio.css';

$primaryColor: #4527a4;

// Common CSS
html {
	scroll-behavior: smooth;
}

// Dashicon
.dashicons {
	font-family: dashicons !important;
}

// Block Name
.wp-block-prefix-block-name {
	* {
		box-sizing: border-box;
	}

	.prefixBlockName {
		display: inline-block;
	}

	.icon {
		font-style: inherit;
	}

	img {
		width: 100%;
		max-width: 100%;
	}


}

.block-editor__container img {
	/* height: auto; */
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

media-controls-group.vds-controls-group {
	display: flex;
}